.o_report_product_img {
    width: 5em;
    height: 5em;
    object-fit: contain;
}

.o_hs_report_table {
    table-layout: fixed;

    .o_hs_report_col_sm {
        width: 6%;
    }

    .o_hs_report_col_lg {
        width: 13.3%;
    }
}
